* {
  background-color: antiquewhite;
}
* * {
  background-color: inherit;
}
.MechanicBox {
  border: 1px solid black;
}

.MainPage {
  background-color: aliceblue;
  display: flex;
  justify-content: space-around;
  height: 80vh;
  width: 100vw;
  flex-wrap: wrap;
  gap: 3px;
  border: 3px lightgreen solid;
}
.MainPage * {
  max-width: 50%;
  min-width: 30%;
  max-height: 20vh;
}
